<!DOCTYPE html>
 <head>
 	<meta charset="UTF-8"/>
 	<title>Cidade</title>
    <!-- Tether -->
    <link href="{{ url_for('static', filename='css/tether.min.css') }}" rel="stylesheet">
    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<html>
<body>
<br>
<form id="cidade" name="cidade" method="POST">
<div class="container">
	<div class="form-group">
    
        <label class="col-2" id="cidadelabel" for="cidade">Cidade:</label>
        <input class="col-3" type="text" name="cidade" id="nomecidade" class="form-control">
    

	<label class="mr-sm-2" class="col-2"  id ="estadolabel" for="inlineFormCustomSelect" >Estado:</label>
	<select name="uf" class="col-3" class="custom-select mb-2 mr-sm-2 mb-sm-0" id="UF">
        <option disabled selected="True" value> -- Selecione Uma Opção -- </option>
        <option value="AC">Acre</option>
        <option value="AL">Alagoas</option>
        <option value="AP">Amapá</option>
        <option value="AM">Amazonas</option>
        <option value="BA">Bahia</option>
        <option value="CE">Ceará</option>
        <option value="DF">Distrito Federal</option>
        <option value="ES">Espirito Santo</option>
        <option value="GO">Goias</option>
        <option value="MA">Maranhão</option>
        <option value="MS">Mato Grosso do Sul</option>
        <option value="MG">Minas Gerais</option>
        <option value="PA">Pará</option>
        <option value="PB">Paraíba</option>
  	 	<option value="PR">Paraná</option>
        <option value="PE">Pernambuco</option>
        <option value="PI">Piauí</option>
        <option value="RJ">Rio de Janeiro</option>
        <option value="RN">Rio Grande do Norte</option>
        <option value="RS">Rio Grande do Sul</option>
        <option value="RO">Rondônia</option>
        <option value="RR">Roraima</option>
        <option value="SC">Santa Catarina</option>
  	 	<option value="SP">São Paulo</option>
        <option value="SE">Sergipe</option>
        <option value="TO">Tocantins</option>

	</select>
    
</div>
    <div class="form-group">
        <label for="cidade" id="codigoibgelabel" class="col-2">Cod. IBGE:</label>
        <input type="text" class="col-3" name="codigo IBGE" id="codigoibge" class="form-control"">

        <button type="button" id="botoamodal"  class="btn btn-primary">Botão Modal</button>
        
    </div>

    <div class="form-group">
        <label for="cidade" class="col-2" id="dataregistrolabel">Data Registro:</label>

        <input type="text" class="col-3" name="Data Registro" id="dataregistro" class="form-control"">

        <label class="col-1" class="form-check-label">
           Ativo
        </label>

           <input type="checkbox" id="ativocheckbox" class="form-check-input"  name="ativo" value="True">
    </div>        
    <div id="botoes" class="form-group" class="col-2">
        <button id="btn_cadastrar" class="btn btn-success" type="submit"> <i class="fa fa-check-square-o" aria-hidden="true"></i>Cadastrar</button>
        <button type="button" class="btn btn-primary">
        <i class="fa fa-undo" aria-hidden="true"></i>
        Voltar</button>
    </div>
     <br> <br>
     <div class="form-group">
        <label for="exampleTextarea">Exibir Resultados do Retorno</label>
    <textarea class="form-control" id="cadastrar"   rows="5">{% if resposta %}{{resposta}}{%    endif %}
    </textarea>
  </div>


</div>
</form>



<div class="modal fade" id="ibgemodal" tabindex="-1" role="dialog" aria-labelledby="ibgemodal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Codigo IBGE e Nome da Cidade</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <textarea id="resposta" name="resposta" readonly></textarea>
          </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
            <i class="fa fa-window-close" aria-hidden="true"></i>
            Close</button>
            <button type="button" class="btn btn-primary">
            <i class="fa fa-check-square" aria-hidden="true"></i>
            Send message</button>
      </div>
      </div>
    </div>
  </div>
</div>




<!-- jQuery -->
<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<!-- Tether -->
<script src="{{ url_for('static', filename='js/tether.min.js') }}"></script>
<!-- Popper for Bootstrap -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- Bootstrap Core JavaScript -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script type="text/javascript">

$("#nomecidade").keyup(function(){
    autoCopiaCampos();
});

$("#UF").change(function(){
   autoCopiaCampos();   
});

function autoCopiaCampos() {
    return $("#cadastrar").text($("#nomecidade").val()+ " - " + $("#UF").val());   
}

$('#botoamodal').click(function(){
  uf = $("#UF").val();
  $.ajax({
        dataType: "json",
        url: '/nfe/_cod_ibge/',
        type: "POST",
        data: {uf},
        success: function(retorno) {
          // preenche o modal com o conteudo vindo do ajax
          $('#resposta').val(retorno.resposta.value);
          // abre o modal
          $('#ibgemodal').modal('show');
        }
      });
});

</script>

<style type="text/css">
#estadolabel
{
    margin-left: 8px;
    margin-right: -2px;
}

#cidadelabel
{
    margin-right: -55px;
}
#codigoibgelabel
{
    margin-right:-55px;
}
#dataregistrolabel
{
    margin-right:-55px;
}
#ativocheckbox
{
    margin-top:11px;
    margin-left:-37px;
}
#botoes
{
    margin-left:300px;

}
#codigoibge
{
    margin-right:5px;

}

#resposta
{
    height:150px;

}



</style>

</body> 
</html>