 <!DOCTYPE html>
 <head>
 	<meta charset="UTF-8"/>
 	<title>Status NFE</title>
</head>
<html>
<body>
<form>

	<p><label>Cerificado Digital:</label> <input type="text" name="certificado"></p>
	<p><label>Senha:</label> <input type="password" name="senha"></p>
	<input type="checkbox" name="Homologação" value="True">Homologação<br>
	<p><label>UF:</label>
	<select name="uf">
  	 	<option value="PR">PR</option>
  	 	<option value="SP">SP</option>
     	<option value="AC">AC</option>
     	<option value="RJ">RJ</option>
     	<option value="DF">DF</option>
     	<option value="RS">RS</option>
     	<option value="SC">SC</option>
     	<option value="MS">MS</option>
     	<option value="MT">MT</option>
     	<option value="DF">GO</option>
     	<option value="MG">DF</option>
     	<option value="ES">ES</option>
     	<option value="BA">BA</option>
     	<option value="SE">SE</option>
     	<option value="AL">AL</option>
     	<option value="PE">PE</option>
     	<option value="PB">PB</option>
     	<option value="RN">RN</option>
     	<option value="CE">CE</option>
     	<option value="PI">PI</option>
     	<option value="MA">MA</option>
     	<option value="TO">TO</option>
     	<option value="PA">PA</option>
     	<option value="AP">DF</option>
     	<option value="RR">RR</option>
     	<option value="AM">AM</option>

	</select></p>
	<p><label>Tipo: </label>
	<select name="tipo">
  	 	<option value="NFE">NFE</option>
  	 	<option value="NFCE">NFCE</option>
	</select>
	</p>


</form>

</body> 
</html>
